body {
	background: url("../images/mountain_road.jpg");
	background-size: cover;
	text-align: center;
}
h1 {
	font-family: Helvetica;
	font-weight: 200;
	font-size: 40px;
}

h2s {
	font-family: Helvetica;
	font-weight: 100;
	font-size: 25px;
}
p {
	background-color: white;
}